# MongoDB Connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/Dev-Tinder?retryWrites=true&w=majority

# Port for the express server
PORT=3000

# Secret token signing key
JWT_SECRET=Dev-Tinder@123
JWT_EXPIRES_IN=1h

# Allowed origins for CORS (comma separated)
CLIENT_ORIGINS=http://localhost:5173,http://localhost:5174
